Which xs:date timestamp format to use

The **xs:date** type in Secvisogram looks like this:

- `"date": "2021-12-10T08:28:32.996Z"`
- That is an ISO 8601 UTC timestamp

Python doesn't have support for military time-zones (Z at the end, indicating UTC), so we can either:

1) Use native Python function, producing this format:
     - function: `datetime.now(timezone.utc).isoformat(timespec='milliseconds')`
     - format: `'2021-12-10T09:05:47.966+00:00'`

2) Use the same function, but also replace the string +00:00 with Z





The first variant is preferred (especially since the offset can be e.g. -06:00) and fully in line with [RFC 3339 Section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6).

As discussed here:

https://github.com/csaf-tools/CVRF-CSAF-Converter/pull/21#discussion_r777620157

Convert all observed timestamps into the consistent formatting which was agreed upon above.
Will be done as a Pull request for this issue.

Clarified - Assigned for implementation.

@tschmidtb51 / @mfd2007: Is this procedure ok? @zpevma already working on it in a local pull request.  

> There are couple of edge cases, which pass the input validation, but not output one. The most extreme which doesn't make sense is `-22011-11-26T00:00:00Z`: perfectly passes xsd validation, but not the output one.
> 
> I suggest to:
> 
>     * ignore negative dates (log error)
That's OK.
>     * ignore years > 9999 (log error)
That's OK.
>     * if no timezone is specified on the input, don't specify it on the output
That would be invalid in CSAF. The CVRF CSAF 1.2 standard states that any timestamp with "an empty zone designator MUST be treated as having UTC offset 0 or equivalently" (see [[CSAF-2.2.1-2](http://docs.oasis-open.org/csaf/csaf-cvrf/v1.2/cs01/csaf-cvrf-v1.2-cs01.html#_Toc493508788)]
>     * if we have UTC timezone stated by `Z`, replace it by +00:00
That's OK.
>     * always output in the format `2021-12-10T09:05:47.966+00:00` or `2021-12-10T09:05:47.966`
First one is OK. Second is not a valid according to [RFC 3339, section-5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6).
